/* Stylesheet for Teacozy html project by Sarah Wynn, March 2018 */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  margin-top: 0px; /* Prevents the scrolling main image from appearing above the header. */
}

header {
  display: inline-flex;
  position: fixed;
  background-color: black; /* Stops the scrolling background from showing through the header. */
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center; /* Center text and image vertically. */
  width: 100%; /* Specify width so <nav> can move right. */
  justify-content: space-between; /* Keeps the Tea Cozy image to the left and the <nav> items to the right. */
}

#teacozy-logo {
  height: 50px;
  padding-left: 10px;
  opacity: 0.9; /* Allow the background to color the logo. */
  background-color: black;
}

nav span {
  padding: 20px 10px;
  margin-right: 10px;
  text-decoration: underline; /* Used if the navigation links are decorated text rather than actual links. */
}

/* main isn't flex because we want each of its children (Mission, Tea of the Month, Locations, Contact) to start in order on a new line. */
main {
  display: block;
  padding-top: 69px; /* Allows the image to start below the fixed header. */
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* This padding extends the background-color beyond the content box of the h2 and h4. */
h2, h4 {
  margin: 0;
  padding: 10px;
}

#title-picture {
  display: flex; /* This is flex (not an inline-flex) as we want it to span the whole width. */
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-color: seashell;
  height: 700px;
  width: 1200px;
  align-items: center; /* Brings the Mission statement to the center, vertically. */
}

#mission-statement {
  width: 1200px;
  height: 100px;
  background-color: black;
}

#tea-of-the-month {
  margin-top: 69px;
}

#content-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* this specifies how the content-items are wrapped. */
  width: 1200px; /* images span 1000px including 50px between them; this 1200px is for centering purposes. */
  margin: auto; /* centers the whole content list to the same as the rest of the document. */
}

.content-item {
  display: inline-block; /* Keep these as blocks so that the labels appear below the relevant picture. */
  text-align: center; /* Center the labels to the pictures above them. */
}

.content-item img {
  height: 200px;
  width: 300px;
  margin-top: 25px;
  margin-left: 25px; /* To make up the required width of the tea-of-the-month element. */
  margin-right: 25px; /* To make up the required width of the tea-of-the-month element. */
}

.content-item p {
  margin: 10px;
}

/* Interestingly, the picture is specified as being height:300px;, but the demonstration adds 70px in padding, so more of the picture is visible. */
#location-section {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-color: seashell;
  height: 500px;
  margin-top: 50px;
}

#location-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

#location-section h2 {
  display: block;
  padding-top: 100px;
}

.location-item {
  display: inline-block;
  text-align: center; /* centers the text in the black box. */
  width: 300px; /* required width of location-item background. */
  margin: 10px 20px; /* Gives the required 10px between location item and Location heading, and the 40px between location items. */
  background-color: black;
  opacity: 1;
}

#contact {
  height: 200px;
  background-color: black;
}

/* Copyright text */
footer {
  text-align: left;
  padding: 20px;
  color: seashell;
}
