/* Stylesheet for Teacozy html project by Sarah Wynn, March 2018 */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;

  margin-top: 0px; /* Prevents the scrolling main image from appearing above the header. */
}

header {
  display: inline-flex;
  position: fixed;
  background-color: black;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center; /* Center text and image vertically. */
  width: 100%; /* Specify width so <nav> can move right. */
  justify-content: space-between; /* Keeps the <nav> items to the right. */
}

main {
  padding-top: 69px; /* Allows the image to start below the header. */
  max-width: 1200px;
}

#teacozy-logo {
  height: 50px;
  padding-left: 10px;
  opacity: 0.9; /* Allow the background to color the logo. */
  background-color: black;
}

nav span {
  padding: 20px 10px;
}

#title-picture {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  /* justify-content: center; */
}

#content-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1000px;
  padding: 20px;
}

#content-links h2 {
  text-align: center;
}

#content-links h4 {
  text-align: center;
}

#content-links img {
  height: 200px;
  width: 300px;
}

.content-item {
  display: inline-block; /* Keep these as blocks so that the labels appear below the relevant picture. */
  text-align: center; /* Center the labels to the pictures above them. */
}


/* #title-picture h2 {
  background-color: black;
}

#title-picture h4 {
  background-color: black;
} */

#location-links {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  width: auto;
}

#contact {
  height: 200px;
}

footer {
  text-align: left;
  padding-left: 20px;
}
